
/*Home Body Image*/
.main-page {
     background-image: url("Images/background.jpg");
     background-size: cover;
     background-attachment: fixed;
     background-position: center;
     z-index: -1;
}

/*About Me, Resume, and Projects Body Image*/
.secondary-page {
     background-image: url("Images/desert.jpg");
     background-size: cover;
     background-attachment: fixed;
     background-position: center;
     z-index: -1;
}

/*Changes color of Box when mouse is over the pill*/
.nav-item:hover {
     color: #29b6f6;
     background-color: #424242;
}

/*Color of Nav Bar text*/
.nav-item {
     color: #3399ff;
}

/*Used to create a white background so Header Jumbotron, which is fixed, can't be seen*/
.background-scroll-image {
     background-color: white;
     padding-top: 5%;
     padding-bottom: 5%;
}

/*Margins for Title in Header Jumbotron (Home)*/
.jumbo-main {
  padding: 20rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  margin-top: 2%
}

/*Margins for Title in Header Jumbotron (About Me, Resume, Projects) */
.jumbo-secondary {
  padding: 13rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  margin-top: 2%
}

/*Footer Margins*/
.jumbofooter {
     margin-bottom:0;
}

/*ID for a transparent jumbotron*/
#transparentjumbo {
     background-color: inherit;
}

/*Color Change when Image is hover overed*/
.footerimg:hover {
     opacity:0.5;
}

/*Used for rounded corners*/
.rounded-corner {
     border-radius: 10%;
     overflow:hidden;
}