/*Font Family*/
body{
     font-family: 'Zilla Slab', serif;
}

h1{
     font-family: 'Kaushan Script', cursive;
}

/*Home Body Image*/
.main-page {
     background-image: url("Images/lake.jpg");
     background-size: cover;
     background-attachment: fixed;
     background-position: center;
}

/*About Me, Resume, and Projects Body Image*/
.secondary-page {
     background-image: url("Images/desert.jpg");
     background-size: cover;
     background-attachment: fixed;
     background-position: center;
}

/*Changes color of Box when mouse is over the pill*/
.nav-item:hover {
     color: #29b6f6;
     background-color: #424242;
}

/*Color of Nav Bar text*/
.nav-item {
     color: #3399ff;
     font-size: 125%;
}

/*Used to create a white background so Header Jumbotron, which is fixed, can't be seen*/
.background-scroll-image {
     background-color: white;
     padding-top: 5%;
     padding-bottom: 5%;
}

/*Margins for Title in Header Jumbotron (Home)*/
.jumbo-main {
  padding: 45vh 1rem;
  margin-top: 2%;
  margin-bottom: 5%;
  border-radius: 0.3rem;
}

/*Margins for Title in Header Jumbotron (About Me, Resume, Projects) */
.jumbo-secondary {
  padding: 13rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  margin-top: 2%
}

/*Footer Margins*/
.jumbofooter {
     margin-bottom:0;
     background-color: #1d2124;
}

/*ID for a transparent jumbotron*/
#transparentjumbo {
     background-color: white;
}


/*Color Change when Image is hover overed*/
.footerimg:hover {
     opacity:0.5;
}

/*Used for rounded corners*/
.rounded-corner {
     border-radius: 10%;
     overflow:hidden;
}

/*Image used for Contact Me Jumbotron*/
.contactme {
     background-image:url('Images/clouds.jpg');
     background-size: cover;
     background-attachment: fixed;
     background-position: center;
}